fieldset:not([hidden]),
af-fieldset:not([hidden]) {
	display: grid;
	gap: 0.5em;
	margin: 0;
	padding: 1em;
}
af-fieldset:not([hidden]) {
	display: grid;
	gap: 0.5em;
	border: 1px #0096bfab solid;
	border-radius: 6px;
	margin: 0;
	margin-bottom: 12px;
	padding: 10px;
}
.js af-step {
	display: none;
}
.js af-step[active]:not([hidden]) {
	display: grid;
}
af-step {
	--display: grid;
	gap: 0.5em;
}
af-step af-error {
	margin-block-start: -0.2em;
	font-size: 0.9em;
}
:where(fieldset, af-fieldset) > * {
	width: -moz-fit-content;
	width: fit-content;
}
:where(h1, h2, h3, h4, h5, h6):first-child {
	margin-block-start: 0;
}
.grid {
	display: grid;
}
.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}
.col-span-full {
	grid-column: 1 / -1;
}
.flex {
	display: flex;
}
.justify-between {
	justify-content: space-between;
}
.items-center {
	align-items: center;
}

form {
	margin-block: 1em;
}

label:has(input[type="checkbox"]) {
	align-items: center;
	display: flex;
}

label input[type="checkbox"] {
	margin-inline: 0.5em;
	margin-block: 0;
}

:not(fieldset, af-fieldset, form):invalid {
	outline: 1px solid coral;
	outline-offset: 2px;
}
fieldset:invalid::after,
af-fieldset:invalid::after {
	content: "incomplete";
	color: white;
	float: right;
	background-color: coral;
	font-size: 0.8em;
	width: max-content;
	padding: 0.25em 0.5em;
	border-radius: 0.25em;
	margin: 0.5em 0 0;
}

.m-0 {
	margin: 0;
}

.instructions {
	margin-bottom: 0.5em;
	color: rgb(108, 108, 108);
	width: 100%;
}

.fieldset-validity {
	display: none;
}

input,
textarea {
	margin-block: 0.4em 0;
}

label {
	margin-block: 0;
}
af-step div[slot="footer"] {
	display: flex;
	justify-content: space-between;
	margin-block-start: 0.5em;
}
af-progress {
	margin-block-end: 1em;
}

af-step[completed] {
	outline: 2px solid #0096bfab;
}
