error-msg {
	display: none;
}

error-msg[show] {
	display: block;
}

error-msg {
	color: var(--error-text, red);
}

form-step {
	padding: 1em;
	border-radius: 1em;
	border: 1px solid #0096bfab;
}

form-progress {
	display: grid;
	position: relative;
	margin-bottom: 30px;
	align-items: center;
}

.progress-bar {
	background: lightseagreen;
	height: 0.5em;
	width: var(--progress, 0%);
	grid-row: -1/1;
	grid-column: -1/1;
}

.progress-num {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	grid-row: -1/1;
	grid-column: -1/1;
}

.progress-bg {
	background-color: lightgray;
	height: 0.5em;
	grid-row: -1/1;
	grid-column: -1/1;
}
.progress-num .step {
	border: 3px solid lightgray;
	border-radius: 100%;
	width: 2em;
	height: 2em;
	line-height: 1.65em;
	text-align: center;
	background-color: #fff;
	font-family: sans-serif;
	font-size: 0.9em;
	position: relative;
	z-index: 1;
	padding: 0;
	margin: 0;
}
.progress-num .step.completed {
	border-color: rgb(80, 86, 85);
	background-color: rgb(80, 86, 85);
	color: #fff;
}
.progress-num .step.active {
	border-color: lightseagreen;
	background-color: lightseagreen;
	color: #fff;
}
.progress-num .step:disabled {
	opacity: 1;
}
