af-error {
	visibility: hidden;
}

af-error[invalid] {
	visibility: visible;
}

af-error {
	color: var(--error-text, red);
}

af-step {
	padding: 1em;
	border-radius: 1em;
	border: 1px solid #0096bfab;
}

af-step::part(step-nav),
af-step .af-step-nav {
	display: flex;
	justify-content: space-between;
	padding-block: 1em 0;
}
af-step::part(step-btn) {
	color: #1d1d1d;
	color: var(--form-text);
	font-family: inherit;
	font-size: inherit;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 10px;
	border: none;
	border-radius: 6px;
	outline: none;
	background-color: #d0cfcf;
	background-color: var(--button-base);
	padding-right: 30px;
	padding-left: 30px;
	cursor: pointer;
}
af-step::part(step-btn):focus-visible {
	outline: 2px solid #0096bfab;
	outline-offset: 1px;
}

af-step::part(step-btn):hover {
	background: #9b9b9b;
	background: var(--button-hover);
}

.no-steps af-step {
	display: block;
	margin-block: 1em;
}

.no-steps af-step .af-step-nav,
.no-steps af-step::part(step-nav) {
	display: none;
}

.no-steps af-progress {
	display: none;
}

af-preview {
	display: block;
	max-width: 100%;
	overflow: hidden;
}
