/* af-error {
	visibility: hidden;
}

af-error[invalid] {
	visibility: visible;
} */

af-error {
	color: var(--error-text, red);
	visibility: hidden;
}

af-step {
	padding: 1em;
	border-radius: 1em;
	border: 1px solid #0096bfab;
}

af-step::part(step-nav),
af-step .af-step-nav {
	display: flex;
	justify-content: space-between;
	padding-block: 1em 0;
}
af-step .af-step-nav button,
af-step::part(step-btn) {
	color: var(--button-text, #1d1d1d);
	font-family: inherit;
	font-size: inherit;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 10px;
	border: none;
	border-radius: 6px;
	outline: none;
	background-color: var(--button-bg, #d0cfcf);
	padding-right: 30px;
	padding-left: 30px;
	cursor: pointer;
}
af-step::part(step-btn):focus-visible {
	outline: 2px solid var(--button-focus-outline, #0096bfab);
	outline-offset: 1px;
}
af-step .af-step-nav button:hover,
af-step::part(step-btn):hover {
	background: var(--button-hover, lightblue);
}

af-step[valid] .af-step-next,
af-step[valid]::part(next) {
	background-color: var(--button-valid-bg, lightseagreen);
	color: var(--button-valid-text, white);
	transition: color;
}
.af-step-next::after,
af-step::part(next)::after {
	content: var(--next-icon, "\2192");
	margin-inline-start: 0.5em;
}
.af-step-prev::before,
af-step::part(prev)::before {
	content: var(--prev-icon, "\2190");
	margin-inline-end: 0.5em;
}

.no-steps af-step {
	display: block;
	margin-block: 1em;
}

.no-steps af-step .af-step-nav,
.no-steps af-step::part(step-nav) {
	display: none;
}

.no-steps af-progress {
	display: none;
}

af-preview {
	display: block;
	max-width: 100%;
	overflow: hidden;
}
